<div class="chardplayer-ui-shell">
	<div class="chardplayer-ui-content">
		<span class="chardplayer-ui-art-container"><img class="chardplayer-ui-art-img" /></span>
		<a href="#" target="_blank" class="chardplayer-ui-song-title"></a>
		
		<br>
	
		<div class="chardplayer-ui-buttons">
			<span class="chardplayer-ui-pause-button"></span>
			<span class="chardplayer-ui-play-button chardplayer-hide"></span>
			<span class="chardplayer-ui-prev-button"></span>
			<span class="chardplayer-ui-next-button"></span>
		</div>
		<div class="chardplayer-ui-time">
			<span class="chardplayer-ui-current-time">-:--</span> / 
			<span class="chardplayer-ui-total-time">-:--</span>
		</div>
		<span class="chardplayer-ui-volume-bar" value="100">
			<span class="chardplayer-ui-current-volume chardplayer-ui-slider-level"></span>
		</span>
		<span class="chardplayer-ui-mute-button"></span>
		<span class="chardplayer-ui-unmute-button chardplayer-hide"></span>
		<br style="clear: both;">
	</div>
	<div class="chardplayer-ui-seek-bar" value="0">
		<span class="chardplayer-ui-seek-ellapsed chardplayer-ui-slider-level"></span>
	</div>
</div>