<script type="text/html" id="graphicEQTemplate">
	<div class="graphicEQShell">
		<h3>Passive Graphic EQ</h3><br/>
	  <input class="graphic-eq-gain" data-var='preGain' type="range" value="1" min="0" max="2" step="0.01">Pre-Gain</input><br/>
	  <input class="graphic-eq-band" data-var='band1' type="range" value="0" min="-40" max="0" step="0.1">64Hz</input><br/>
		<input class="graphic-eq-band" data-var='band2' type="range" value="0" min="-40" max="0" step="0.1">128Hz</input><br/>
		<input class="graphic-eq-band" data-var='band3' type="range" value="0" min="-40" max="0" step="0.1">256Hz</input><br/>
	  <input class="graphic-eq-band" data-var='band4' type="range" value="0" min="-40" max="0" step="0.1">512Hz</input><br/>
		<input class="graphic-eq-band" data-var='band5' type="range" value="0" min="-40" max="0" step="0.1">1KHz</input><br/>
		<input class="graphic-eq-band" data-var='band6' type="range" value="0" min="-40" max="0" step="0.1">2KHz</input><br/>
	  <input class="graphic-eq-band" data-var='band7' type="range" value="0" min="-40" max="0" step="0.1">4KHz</input><br/>
		<input class="graphic-eq-band" data-var='band8' type="range" value="0" min="-40" max="0" step="0.1">8KHz</input><br/>
		<input class="graphic-eq-band" data-var='band9' type="range" value="0" min="-40" max="0" step="0.1">16KHz</input><br/>
	  <br/>
		<input class="graphic-eq-bypass js-graphic-eq-bypass" type="button" value="Bypass" />
	</div>
	<br/>
</script>